body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:slategray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.TitleBar{
  background: linear-gradient(to bottom, black, slategray);
  padding: 3px;
}

.TitleP {
  font-family: fantasy;
  text-align: center;
  color: gold;
  text-shadow: 15px;
  text-decoration:orange;
  font-style: italic;
}

.MoviesGeneral {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: oblique;
  padding: 3px;
}

.AccessMenu {
  background-color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  padding: 12px;
  text-align: right;
}

.LetterMenu{
  padding: 5px;
  margin: 5px;
  text-decoration: none;
  color: white;
/*
  border-color: darkgray;
  border-style: outset;
  background-color: grey;
*/
}

.MoviesOrderDiscover {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  list-style: none;
  font-size: 18px;
}

.MovieBlocks{
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 50px;
  justify-content: center;
  margin: 5px;
  margin-top: 10px;
  padding: 3px;
}

.MovieTarget{
  background-color: black;
  color: whitesmoke;
  border-radius: 30px;
}

.MovieImage{
  border-radius: 30px;
}

.MovieTarget:hover{
  opacity: 0.8;
}

.MovieMargin{
  margin: 10px;
  text-align: center;
  margin-bottom: 20px;
  line-height: 30px;
}

.MovieTitleStyle{
  text-decoration: solid;
  font-style: italic;
  text-decoration: none;
  color: whitesmoke;
}

.PhamtonPoint{
  color: black;
}

.PhamtonPointA{
  color:slategray;
}

.FrameDetails{
  justify-content: center;
  display: flex;
  padding-right: 20px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: black;
  color: white;
  border-radius: 30px;
}

.MovieImageDetails{
  justify-content: center;
  padding: 5px;
  margin: 10px;
  margin-right: 15px;
  border-radius: 15px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.LetterDetails{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 18px;
  justify-content: justify;
  padding-top: 10px;
}

.DetailsTitle{
  font-size: 24px;
}

.NotFoundDetails{
  justify-content: center;
  display: grid;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 30px;
}

.IterationPage{
  justify-content: center;
  display: flex;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
}

.ButtomIteration{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  width: 300px;
  height: 70px;
  font-size: 50px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 30px;
  border-radius: 20px;
  border-color: darkgray;
  background-color: grey;
}

.ButtomReturn{
  width: 500px;
  height: 70px;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 20px;
  border-color: darkgray;
  background-color: grey;
}

.IterationLetter{
  vertical-align: top;
  display: flex;
}