body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:slategray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.TitleBar{
  background: linear-gradient(to bottom, black, slategray);
  padding: 3px;
}

.TitleP {
  font-family: fantasy;
  text-align: center;
  color: gold;
  text-shadow: 15px;
  text-decoration:orange;
  font-style: italic;
}

.MoviesGeneral {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: oblique;
  padding: 3px;
}

.AccessMenu {
  background-color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  padding: 12px;
  text-align: right;
}

.LetterMenu{
  padding: 3px;
  margin: 10px;
}

.MoviesOrderDiscover {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  list-style: none;
  font-size: 18px;
}

.MovieBlocks{
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 50px;
  justify-content: center;
  margin: 5px;
  margin-top: 10px;
  padding: 3px;
}